@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

/* Custom Premium Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #1c1c24;
  border-radius: 999px;
  border: 2px solid #050505;
}

::-webkit-scrollbar-thumb:hover {
  background: #00F0FF;
}

/* Base custom interactive states */
.glass-effect {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.glass-effect:hover {
  background: rgba(255, 255, 255, 0.05);
  border-color: rgba(0, 240, 255, 0.2);
}

